/*SUPLA COLOR - #8CC26E;*/

/***********************************************************************************************************************
                                           SPLASH SCREEN
***********************************************************************************************************************/
.splash-screen {
	-fx-background-color: #008A00;
	-fx-padding: 20px;
}

.splash-screen .label {
	-fx-text-fill: white;
}

.splash-screen .label.title {
	-fx-font-size: 25pt;
	-fx-font-family: "Roboto Light";
}

.splash-screen .jfx-button {
	-jfx-button-type: RAISED;
	-fx-background-color: white;
	-fx-text-fill: #008A00;
}

.splash-screen .center-box .label {
	-fx-font-size: 15pt;
	-fx-font-family: "Roboto Light";
}

.splash-screen .center-box .label {
	-fx-font-size: 15pt;
	-fx-font-family: "Roboto Light";
}

.splash-screen .center-box .jfx-text-field {
	-jfx-focus-color: WHITE;
	-jfx-unfocus-color: WHITE;
	-fx-text-fill: white;
}

.splash-screen .center-box .error-icon {
	-fx-icon-color: white;
}

/***********************************************************************************************************************/
.devices {
	-fx-padding: 20px;
}

.main-header {
	-fx-background-color: #008A00;
}

.condensed-header {
	-fx-background-color: #008A00;
}

/***********************************************************************************************************************
                                           TILE
***********************************************************************************************************************/
.tile .header, .tile .body {
	-fx-padding: 20px;
}

.tile .header {
	-fx-background-radius: 5 5 0 0;
	-fx-background-color: rgba(255, 255, 255, 0.87);
}

.tile .body {
	-fx-background-radius: 0 0 5 5;
	-fx-background-color: white;
}

.jfx-toggle-button {
	-jfx-toggle-color: white;
	-jfx-untoggle-color: white;
	-jfx-toggle-line-color: #004c00;
	-fx-text-fill: black;
	-fx-font-family: "Roboto Light";
}

.tile .header .label.title {
	-fx-text-fill: white;
	-fx-font-size: 15pt;
	-fx-font-family: "Roboto Light";
}

.tile .header .label.sub-title {
	-fx-text-fill: white;
	-fx-font-size: 11pt;
	-fx-font-family: "Roboto Light";
	-fx-opacity: 0.8;
}

.tile .label {
	-fx-text-fill: black;
	-fx-font-size: 11pt;
	-fx-font-family: "Roboto Light";
}

.tile .label.value {
	-fx-font-size: 20pt;
	-fx-font-family: "Roboto Light";
}

/* LIGHT DEVICE */
.tile.light-device .header {
	-fx-background-color: #0050EF;
}

.tile.light-device .jfx-toggle-button {
	-jfx-toggle-color: white;
	-jfx-untoggle-color: white;
	-jfx-toggle-line-color: #002153;
}

/* TEMP & HUM DEVICE */
.tile.temp-hum-device .header {
	-fx-background-color: rgb(229, 20, 0);
}

/* ROLLER SHUTTER DEVICE */
.tile.roller-shutter-device .header {
	-fx-background-color: #008A00;
}

.tile.roller-shutter-device .jfx-button {
	-jfx-button-type: RAISED;
	-fx-background-color: #004c00;
	-fx-text-fill: white;
}

.tile.roller-shutter-device .jfx-toggle-button {
	-jfx-toggle-color: white;
	-jfx-untoggle-color: white;
	-jfx-toggle-line-color: #004c00;
}

.tile.roller-shutter-device .jfx-slider > .track {
	-fx-background-color: rgba(0, 138, 0, 0.7);
}

.tile.roller-shutter-device .jfx-slider > .thumb {
	-fx-background-color: #004c00;
}

.tile.roller-shutter-device .jfx-slider > .colored-track {
	-fx-background-color: #004c00;
}

.tile.roller-shutter-device .jfx-slider > .animated-thumb {
	-fx-background-color: #004c00;
}

.tile.roller-shutter-device .jfx-slider .slider-value {
	-fx-fill: white;
	-fx-stroke: white;
}

/* COLOR DEVICE */
.tile.color-device .header {
	-fx-background-color: rgb(254, 193, 4);
}

.tile.color-device .jfx-slider > .track {
	-fx-background-color: #B78904;
}

.tile.color-device .jfx-slider > .thumb {
	-fx-background-color: black;
}

.tile.color-device .header .label {
	-fx-text-fill: black;
}

.tile.color-device .jfx-slider > .colored-track {
	-fx-background-color: black;
}

.tile.color-device .jfx-slider > .animated-thumb {
	-fx-background-color: black;
}

.tile.color-device .jfx-slider .slider-value {
	-fx-fill: white;
	-fx-stroke: white;
}